body{background-color: #e3e3e3;} /* Corpo do site */
#cabecalho{ /* Cabeçalho do site, 1ª div do site */
    background-color: #2a008b;
    color: white;
    padding: 10px 50px;
}
#conteudo{ /* 2ª div do site*/
    border: 1px solid black;
    background-color: white;
    margin: 0px 70px;
    padding: 15px 30px;
}
#conteudo img{ /* Imagem do site */
    width: 30%;
    height: auto;
    border-radius: 40px;
}
.paragrafo{text-align: justify;} /* texto do site */
#conteudo #menu ul{padding: 0px; margin: 0px;} /* ul, li, a, a:hover: links do site */
#conteudo #menu li{
    list-style: none;
    width: 200px;
    text-align: center;
    padding: 0px 0px;
    display: inline-block;
}
#conteudo #menu a{
    font-family: arial;
    font-size: 11pt;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    background-color: blue;
    width: 100%;
    display: inline-block;
    padding: 8px 0px;
}
#conteudo #menu a:hover{ /* Só aparecerá quando o usuário passar o mouse no elemento */
    background-color: black;
    color: white;
}
#rodape{ /* Rodapé do site, 3ª div do site */
    background-color: #2a008b;
    color: white;
    text-align: center;
    padding: 10px;
}
/*======================= Para o site ser responsivo ===============================*/
@media screen and (max-width: 600px){
    #cabecalho{padding: 10px 10px;}
    #conteudo{margin: 0px; padding: 10px;}
    #conteudo img{width: 100%; height: auto;}
    #conteudo #menu li{width: 100%;}
}